*{
     margin:0px;
     padding:0;
     box-sizing: border-box;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 50px;
     background-color:rgb(229, 163, 229);
     box-shadow: 0px 5px 10px rgba(rgb(123, 94, 94));
     z-index: 999;
     position: sticky;
     top:0;
     left:0;
}


#navbar{
    display: flex;
    align-items: right;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a:hover{
    font-size: 15px;
    color: rgb(247, 241, 241);
    transition: 0.5s;
}
#navbar li a.active{
     color:rgb(237, 237, 240);
}
#cont h2{
    color: rgb(255, 249, 249);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cont i{
    display: flex;
    color: #fff;
}
#main{
    background-image: url("img/bg2.jpg");
    height:90vh;
    width:100%;
    background-position: top 20% right 0;
    background-size: cover;
    padding:0 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
button.mainbutton{
    font-size: small;
    font-weight: 500;
    padding: 5px 5px;
    border-color: rgb(225, 203, 225);;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(235, 190, 235);
    color: rgb(2, 2, 2);
    margin-top: 25px;
    text-decoration: underline;

}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding:15px 30px;
    color:rgb(244, 236, 244);
    border-radius: 4px;
    cursor:pointer;
    font-style: initial;
    border:none;
    outline:none;
}
#main h4{
    padding-bottom: 10px;
} 

#main h1{
    paddiing-bottom:20px
    color: purple;
}

#main button{
    border-style: groove;
    padding: 14px;
}
#allcont{
    background-color:rgb(239, 198, 239);
    
}
#mar{
    display: flex;
    box-sizing: content-box;
    background-color: purple;
}

#allcontbts{
    background-color: rgb(245, 216, 245);
}
#cont{
    background-color:rgb(245, 216, 245);
}
 .prodp1{
    padding:40px 80px;
}

.prodm1{
margin:40px 0;
}

#prod{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#prod .box{
    width: 180px;;
    text-align: center;
    padding: 10px 15px;
    box-shadow: 20px 50px(rgb(206, 166, 231));
    border: 2px rgb(235, 185, 252);
    border-radius: 10px;
    margin:10px 0; 
    border-style:solid;
} 

#prod .box:hover{
    box-shadow: 10px 20px 50px rgba(rgb(123, 94, 94));
}
#prod  .box h6{
    padding:9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(106, 1, 129);
    background-color: rgb(254, 200, 251);
}
#prod  .box img
{
    width:100%;
    margin-bottom:10px;
    margin-top: 0px;
    cursor: pointer;
}
#product1{
    text-align: center;
}

#product1 .pro{
    width:23%;
    min-width: 250px;
    padding:10px 12px;
    border: 1px solid cornflowerblue ;
    border-radius: 4px;
     cursor:pointer;
     box-shadow: 20px rgb(19, 19, 253);
      margin: 15px 0;
      position: relative;    
}
#product1 .container{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap ;


 }
#product1 .pro img{
     width:100%; 
     border-radius: 20px;
}
#product1 .pro .desc{
     text-align: start;
     padding:10px 0;
}

#product1 .pro .desc span{
    color: brown;
    font-size: 12px;
}
#product1 .pro .desc h5{
     padding-top: 7px;
     color:rgb(100, 3, 109);
     font-size: 14px;
}
#product1 .pro .desc i{
    font-size: 12px;
    color: rgb(37, 14, 141);
}
#product1 .pro .desc h4{
    padding-top: 7px;
    color:rgb(81, 13, 134);
    font-size: 18px;
    font-weight: 700;
}
#product1 .pro cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: aliceblue;
    font-weight: 500;
    color: darkgreen; 
    border: 1px solid rgb(193, 193, 223);
      position: absolute;
      bottom: 20px;
      right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 226, 244);
    width:100%;
    height:40vh;
     background-size: cover;
     background-position: center;
}

#banner h4{
    color:#b91b1b;
    font-size: 16px;
}

#banner h2{
    color:#ad0202;
    font-size: 30px;
    padding:10px 0 ;
}
#banner button{
    background-color: #e78afe;
}
#banner button:hover{
     background:rgb(52, 3, 90) ;
     color:#e78afe
}
#email{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: rgb(135, 76, 135);
}
#email h4{
    font-size: 22px;
    font-weight: 700;
    color:#fff;

}

#email p{
    color:rgb(250, 210, 253);
}

#email input{
    height: 3.125rem;
    padding:1 1.25em;
    font-size: 14px;
    width:100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#email button{
    white-space: nowrap;
    background-color: #088178
}

footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin:0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}
 footer .follow i{
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;
 }
footer .follow i:hover ,
footer a:hover{
    color:cyan;
}

footer .copyr{
    width: 100%;
    text-align: center;
}

#pageheader{
     background-image: url("img/bg6.jpeg"); 
     width:100%;
     height:40vh;
     background-size: cover;
     display: flex;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     padding: 14px;
     color: #5f046f;
}
#pageheader h2,
#pageheader p{
    color:#fff
}
#next{
    text-align: center;

}
#next a{
    text-decoration: none;
    background-color: rgb(221, 160, 221);
    padding:15px 20px;
    border-radius: 4px;
    color:rgb(164, 102, 164);
    font-weight: 600;
}
#next a i{
    font-size: 17px;
    font-weight: 600;
}


#detail .singleimg{
    width:40%;
    margin-right: 50px;
}

.smallimggrp{
    display: flex;
    justify-content: space-between;
    width: 495px;

}
.smallimgcol{
    flex-basis: 24%;
    cursor: pointer;
    
}

#detail .singleproddet {
    width:50%;
    padding-top: 30px;
}
#detail .singleproddet h4{
    padding:40px 0 20px 0;
}
#detail .singleproddet h2
#formdetails form h2{
    font-size: 26px;
    line-height: 35px;
    padding:20px 0;
}
#detail .singleproddet select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#detail .singleproddet input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 17px;
    margin-right: 10px;
}
#detail .singleproddet button{
    background: #088178;
    
}
.sent{
    display: none;
    width:60%;
    padding: 15px;
    text-align: center;
    background:lavender;
    color: #222;
}
#contactdetails
{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
#contactdetails .contdet
{
    width: 40%;
}
#contactdetails .contdet h2{
    font-size: 14px;
    padding:20px 0;
}
#contactdetails .contdet li{
    list-style: none;
    display: flex;
    padding:10px 0;
}

#contactdetails .contdet li i {
    font-size: 14px;
    padding-right: 22px;
}

#contactdetails .contdet li p{
    margin:0;
    font-size: 14px;
}
#contactdetails .map{
    width:55%;
    height:400px;
}
#contactdetails .map iframe{
 width:100%;
 height:100%;
}
#formdetails form{
    width:65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#formdetails form span{
    font-size: 17px;
}
#formdetails form input,
#formdetails form textarea{
    width:100%;
    padding:12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 2px solid #e1e1e1;

}

#formdetails form button{
     background-color: #088178;
     color: #fff;
}


#cart table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width:70px;
}

#cart table td:nth-child(1){
     width:100px;
     text-align: center;
}
#cart table td:nth-child(2){
    width:150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width:250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
    width:150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width:70px;
    padding:10px 5px 10px 15px;
}
#cart table thead{
    border:1px solid lavender;
    border-left: none;
}
#cart table thead td{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px;
    padding:18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}

#carttotal {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#subtotal{
width: 50%;
margin-bottom: 30px;
border: 1px solid lavender;
padding:30px
}
#subtotal table{
    border-collapse:collase ;
    width:100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width:50%;
    border:1px solid lavender;
    padding: 10px;
    font-size: 15px;
}
#subtotal table h3{
    padding:20px
}

#subtotal button{
    background-color: #088178;
    color: #e1e1e1;
    padding:12px 15px;
}

#cart{
    overflow-x: auto;
}
.logo{
    
    margin-right: 20px;
}

